@use "../base/colors" as *;
@use "../utils/breakpoints" as *;

#multistep-onboarding {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 2em;
  overflow-x: hidden;

  li {
    list-style: none;
    padding: 0;
  }

  .absolute-controller {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

    position: absolute;
  }

  #go-back {
  }

  #restart {
    svg {
      transform: rotateY(180deg);
    }
  }

  #steps {
    display: flex;
    align-items: center;
    justify-content: center;

    .steps__step {
      display: grid;
      grid-template-columns: auto auto;
      row-gap: 0.75em;
      align-items: center;
      justify-items: center;
      align-content: center;
      justify-content: center;
      cursor: pointer;
      opacity: 0.25;

      .steps__step__number {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $dark;
        font-weight: 900;
        color: $light;
        padding: 1em;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
      }

      .steps__step__title {
        font-weight: 900;
      }

      .steps__step__pipline {
        height: 0.2em;
        width: 8em;
        margin: 0 0.25em;
        background-color: $dark;
      }
    }

    .steps__step--active {
      opacity: 1;
    }
  }

  .steps--hide {
    transform: translateY(-150%);
  }

  #carousel__container {
    flex: 1;
    // padding: 2em 1em;

    #carousel {
      height: 100%;

      .carousel__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        .step {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 3em;
        }

        #step_1 {
          p {
            width: 50ch;
            text-align: center;
          }
        }

        #step_3 {
          height: 100%;
          width: 100%;

          #step_3__choices {
            display: grid;
            grid-template-columns: auto auto;
            gap: 2em;
            height: 60%;
            width: 60%;

            div {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 0.75em;
              background-color: #fff;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
              cursor: pointer;

              &:hover {
                transform: scale(1.05);
              }
            }
          }
        }

        #step_4 {
          #step_4__form {
            display: grid;
            gap: 2em;

            div {
              display: grid;
            }
          }

          .step_4__adjust {
            grid-template-columns: auto auto;
            gap: 4em;

            input {
              transform: scale(1);
            }
          }
        }

        #step_5 {
          gap: 2em;

          * {
            transform: scale(1);
          }

          hr {
            width: 100%;
          }

          .form {
            display: grid;
            gap: 1em;
          }

          .form__link {
            display: flex;
            gap: 2em;

            p {
              flex: 1;
              color: rgba($color: $dark, $alpha: 0.5);
              background-color: #fff;
              border-radius: 0.4em;
              font-weight: 600;
              padding: 1.5em;
            }

            p,
            button {
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
            }
          }
        }
      }
    }
  }
}

// Styles Overrides
// TODO: make h1 left border optional
// TODO: use SASS modules for the love of god
#multistep-onboarding {
  h1,
  h2 {
    border-left: none;
    padding-left: 0;
    text-align: center;
    text-transform: initial;
  }

  p,
  input,
  .button--primary {
    transform: scale(1.25);
  }

  .input--standard {
    text-align: center;
    padding: 1em 4em !important;
    background-color: #fff;
  }

  .input--error {
    color: $error;
    // margin-top: 0;
  }

  .button--primary {
    padding: 1em 4em !important;
  }

  form * {
    width: auto;
  }
}
