$black: hsl(234, 8%, 23%);
$white: hsl(228, 45%, 98%);
$light-blue: hsl(231, 100%, 93%);
$blue: hsl(232, 100%, 61%);
$green: hsl(160, 67%, 48%);
$yellow: hsl(46, 100%, 50%);
$red: hsl(360, 88%, 56%);
